{{- if .Values.inference.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jena-fuseki.fullname" . }}-assembler
  labels:
    {{- include "jena-fuseki.labels" . | nindent 4 }}
data:
  config.ttl: |
    {{- if eq .Values.inference.preset "custom" }}
    {{- .Values.inference.customConfig | nindent 4 }}
    {{- else if eq .Values.inference.preset "rdfs" }}
    @prefix :        <#> .
    @prefix fuseki:  <http://jena.apache.org/fuseki#> .
    @prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
    @prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
    @prefix tdb2:    <http://jena.apache.org/2016/tdb#> .

    [] a fuseki:Server ;
       fuseki:services (
         :service
       ) .

    :service a fuseki:Service ;
        fuseki:name "dataset" ;
        fuseki:endpoint [ fuseki:operation fuseki:query ] ;
        fuseki:endpoint [ fuseki:operation fuseki:update ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-r ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-rw ] ;
        fuseki:dataset :dataset .

    :dataset a tdb2:DatasetTDB2 ;
        tdb2:location "/fuseki/databases" ;
        tdb2:unionDefaultGraph true ;
        ja:defaultGraph :model .

    :model a ja:InfModel ;
        ja:baseModel :baseModel ;
        ja:reasoner [
            ja:reasonerURL <http://jena.hpl.hp.com/2003/RDFSRuleReasoner>
        ] .

    :baseModel a tdb2:GraphTDB2 ;
        tdb2:location "/fuseki/databases" .
    {{- else if eq .Values.inference.preset "owl" }}
    @prefix :        <#> .
    @prefix fuseki:  <http://jena.apache.org/fuseki#> .
    @prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
    @prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
    @prefix tdb2:    <http://jena.apache.org/2016/tdb#> .

    [] a fuseki:Server ;
       fuseki:services (
         :service
       ) .

    :service a fuseki:Service ;
        fuseki:name "dataset" ;
        fuseki:endpoint [ fuseki:operation fuseki:query ] ;
        fuseki:endpoint [ fuseki:operation fuseki:update ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-r ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-rw ] ;
        fuseki:dataset :dataset .

    :dataset a tdb2:DatasetTDB2 ;
        tdb2:location "/fuseki/databases" ;
        tdb2:unionDefaultGraph true ;
        ja:defaultGraph :model .

    :model a ja:InfModel ;
        ja:baseModel :baseModel ;
        ja:reasoner [
            ja:reasonerURL <http://jena.hpl.hp.com/2003/OWLFBRuleReasoner>
        ] .

    :baseModel a tdb2:GraphTDB2 ;
        tdb2:location "/fuseki/databases" .
    {{- else if eq .Values.inference.preset "owlmicro" }}
    @prefix :        <#> .
    @prefix fuseki:  <http://jena.apache.org/fuseki#> .
    @prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
    @prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
    @prefix tdb2:    <http://jena.apache.org/2016/tdb#> .

    [] a fuseki:Server ;
       fuseki:services (
         :service
       ) .

    :service a fuseki:Service ;
        fuseki:name "dataset" ;
        fuseki:endpoint [ fuseki:operation fuseki:query ] ;
        fuseki:endpoint [ fuseki:operation fuseki:update ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-r ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-rw ] ;
        fuseki:dataset :dataset .

    :dataset a tdb2:DatasetTDB2 ;
        tdb2:location "/fuseki/databases" ;
        tdb2:unionDefaultGraph true ;
        ja:defaultGraph :model .

    :model a ja:InfModel ;
        ja:baseModel :baseModel ;
        ja:reasoner [
            ja:reasonerURL <http://jena.hpl.hp.com/2003/OWLMicroReasoner>
        ] .

    :baseModel a tdb2:GraphTDB2 ;
        tdb2:location "/fuseki/databases" .
    {{- else if eq .Values.inference.preset "owlmini" }}
    @prefix :        <#> .
    @prefix fuseki:  <http://jena.apache.org/fuseki#> .
    @prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
    @prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
    @prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
    @prefix tdb2:    <http://jena.apache.org/2016/tdb#> .

    [] a fuseki:Server ;
       fuseki:services (
         :service
       ) .

    :service a fuseki:Service ;
        fuseki:name "dataset" ;
        fuseki:endpoint [ fuseki:operation fuseki:query ] ;
        fuseki:endpoint [ fuseki:operation fuseki:update ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-r ] ;
        fuseki:endpoint [ fuseki:operation fuseki:gsp-rw ] ;
        fuseki:dataset :dataset .

    :dataset a tdb2:DatasetTDB2 ;
        tdb2:location "/fuseki/databases" ;
        tdb2:unionDefaultGraph true ;
        ja:defaultGraph :model .

    :model a ja:InfModel ;
        ja:baseModel :baseModel ;
        ja:reasoner [
            ja:reasonerURL <http://jena.hpl.hp.com/2003/OWLMiniReasoner>
        ] .

    :baseModel a tdb2:GraphTDB2 ;
        tdb2:location "/fuseki/databases" .
    {{- end }}
{{- end }}
